.content{
    margin-top: 20px;
}

.editor_custom{
    height: calc(100vh - 390px);
    min-height: 100px;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 16px;
}

.editor_custom div{
    padding: 0;
    padding-left: 5px;
}

.subheadline{
    margin-bottom: 30px;
}

.input_field_title{
    /**border: 1px solid #ccc;**/
    border: 1px solid white;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.ql-editor.ql-blank::before{
    left: 5px;
}

.next_container{
    text-align: right;
    padding: 0;
}

.input_field_preview{
    border: 1px solid white;
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    resize: none;
}

.input_field_preview::-webkit-input-placeholder {
    font-style: italic;
 }
 .input_field_preview:-moz-placeholder {
    font-style: italic;  
 }
 .input_field_preview::-moz-placeholder {
    font-style: italic;  
 }
 .input_field_preview:-ms-input-placeholder {  
    font-style: italic; 
 }