.content{
    margin-top: 20px;
}

.editor_custom{
    min-height: 300px;
    padding: 0;
    font-size: 16px;
}

.editor_custom div{
    padding: 0;
    padding-left: 5px;
}

.subheadline{
    margin-bottom: 30px;
}

.input_field_title{
    /**border: 1px solid #ccc;**/
    border: 1px solid white;

    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.ql-editor.ql-blank::before{
    left: 5px;
}

.next{
    display:inline-block;
    padding:0.7em 1.8em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    background-color: white
}

.next:hover{
    color: white;
    background-color: black;
}

.next_container{
    text-align: right;
}