html{
    margin-left: calc(100vw - 100%);
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    font-size: 16px;
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:focus{
    color: gray;
    text-decoration: none;
}


a:active {
    text-decoration: none;
}
 a:visited {
     text-decoration: none;
}

h1{
    font-family: 'Playfair Display', serif;
    color: black;
    margin: 0;
    font-weight: bold;
}

h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding-right:20px;
    padding-top:10px;
    font-size: 16px;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
}

.header{
    border-bottom: 2px;
    border-color:black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu{
    text-align: right;
    margin-top: 50px;
}

.menu li{
    padding: 0;
}

.menu li a{
    color: gray;
    font-size: 16px;
    padding: 0;
    padding-left: 16px;
}

.menu li a:hover{
    color: black;
    text-decoration: none;
}

.menu_button{
    display:block;
}

.menu_button a{
    text-align: right;
    color: black !important;
}

.max_w{
    max-width: 1100px;
}

.preview{
    margin-top: 20px;
    text-align: justify;
}

.preview p{
    min-height: 150px;
    max-height: 150px;

}

.title{
    font-size: 24px;
    margin-bottom: 0;
    font-family: 'Lora', serif;
}

.readmore{
    text-align:right;
    padding: 0;
    color: gray;
}

.meta{
    font-size: 16px;
    margin-bottom: 5px;
    color: gray;
    padding:0;
}

.tag{
    display: inline-block;
}

.tag a{
    color: gray;
}

.author a{
    color: gray;
}

.full_header{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 10px;
}

.sort{
    margin: 0;
    padding: 0;
}

.content{
    padding: 0;
}

.hidden{
    display:none;
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
    border-left: none;
}
.blockquote p {
    font-family: 'Lora', serif;
    font-size: 24px;
    text-align: center;
}

.blockquote:before {
  position: absolute;
  top: 0;
  
  content:"\"";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.quote_author{
    font-size: 20px;
    text-align: center;
}

.hide_quote_button{
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.foot{
    border-top: solid;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
    margin-top: 20px;
    padding: 0;
}

.foot .max_w{
    padding: 0;
}

.foot_menu{
    text-align: right;
}

.submit_button{
    display:inline-block;
    padding:0.7em 1.8em;
    border:0.1em solid black;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    background-color: white
}

.submit_button:hover{
    color: white;
    background-color: black;
}

.call_to_action{
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px;
    font-style: normal;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 100%;
}

.call_to_action_text{
    margin-bottom: 15px;
}

.notification{
    background-color: black;
    color: white;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 30px;
    z-index: 111;
    width: 100%;
    display: none;
}

.change_page_button{
    background-color: white;
    display: inline-block;
    color: black;
    border: none;
    border: 0.1em solid black;
    height: 40px;
    width: 40px;
}

.change_page_button:disabled{
    color: gray;
    border-color: gray;
}

.change_page_button:hover:disabled{
    color: gray;
    background-color: white;
}

.change_page_button:hover{
    color: white;
    background-color: black;
}

.page_index{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.page_index_container{
    float: right;
    margin-top: 30px;
}

.selected a{
    color: black;
}
