.full_text{
    margin-top: 20px;
    text-align: justify;
}

.preview_box{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0;
    border-style: dashed;
    border-width: thin;
    margin-top: 30px;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid gray;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.next_preview_padding{
    padding: 15px !important;
}

.text_area_feedback{
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .text_block{
        column-count: 1;
    }
}

.meta_box{
    color: gray;
    text-align: right;
}

.meta_box a{
    color:gray;
}

.comments_title{
    font-size: 24px;
    font-family: 'Lora', serif;
}

.comments_box{
    margin-top: 20px;
}

.small_padding{
    padding-top: 20px;
}

.comment{
    border-style: solid;
    border-width: thin;
    padding: 15px;
    margin-top: 20px;
}

.comment_user_name{
    color: gray;
    text-align: right;
}

.write_comment{
    border-style: dashed;
    border-width: thin;
    padding: 15px;
    margin-top: 20px;
    text-align: right;
}

.write_comment textarea{
    border: none;
    width: 100%;
}

.write_comment button{
    margin-top: 20px;
}

p:first-child::first-letter{
    font-size: 24px;
    font-family: 'Lora', serif;
}
