<!DOCTYPE html>
<html lang="de">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104207151-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104207151-2');
        </script>

        <title>Kurzegeschichte.de</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.quilljs.com/1.2.2/quill.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script> 

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.2.2/quill.bubble.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">


        <title>Kurzegeschichte - Editor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Kurzgeschichte, Shortstory, lesen, schreiben, Buch, Geschichte, Editor">

        <meta name="title" content="Kurzegeschichte - Editor" />
        <meta property="og:title" content="Kurzegeschichte - Editor" />
        <meta property="twitter:title" content="Kurzegeschichte - Editor" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="Kurzgeschichten gratis lesen. Und schreiben." />
        <meta property="og:description" content="Kurzgeschichten gratis lesen. Und schreiben." />
        <meta property="twitter:description" content="Kurzgeschichten gratis lesen. Und schreiben." />

        <meta property="og:site_name" content="Kurzegeschichte - It only takes a few words to escape." />
        <meta property="og:image" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}">
        <meta name="og:image:width" property="og:image:width" content="1200" />
        <meta name="og:image:height" property="og:image:height" content="630" />
        <meta name="twitter:image:src" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}" />
        <meta name="twitter:card" content="summary_large_image" />

        <meta property="og:type" content="website" />

        <meta name="locale" property="og:locale" content="de_DE" />
        <meta name="locale:alternative" property="og:locale:alternate" content="en_GB" />

        <meta name="twitter:site" content="@Kurzegeschichte" />
        <meta property="og:url" content="https://www.kurzegeschichte.de" />
        <meta property="al:web:url" content="https://www.kurzegeschichte.de" />

        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div id="header" class="full_header">
            <div class="row header max_w center_div container">
                <a class="col-sm-6" href="/">
                    <div id="logo" class=logo>
                        <h1>kurzegeschichte</h1>
                        <h3>It only takes a few words to escape.</h3>
                    </div>
                    <div id="up_logo" class="inv logo">
                        <img class="up_logo_img" src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" alt="logo" height="20" width="20">
                        <p class="up_logo_text">urzegeschichte</p>    
                    </div>
                </a>
                <div id="menu" class="col-sm-6 menu">
                    <ul>
                        <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                        <div id="menu_expansion" class="menu_expansion">
                            <li><a href="/info">Informationen</a></li>
                            <li class="hidden"><a href="/editor">Schreiben</a></li>
                            <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                            <li class="hidden"><a href="/settings">Einstellungen</a></li>
                            <li><a href="/login">Anmeldung</a></li>
                            <li class="hidden"><a href="/logout">Logout</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container max_w">
            <div class="row content">
                <div class="col-sm-12 border_on_side">
                    <form id="preview_form" action="/save_draft" method="post">
                        <input id="title" type="text" name="title" class="input_field_title" maxlength="80" placeholder="Überschrift">
                        <input id="content" type="content" name="content" class="hidden">
                        <hr class="hr_black">
                        <div class="editor_custom" id="editor" ></div>
                        <div class="col-sm-3 next_container">
                            <button type="button" class="submit_button" onclick="PostContentToSaveDraft();">Weiter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <hr class="hr_footer">
            <div class="container max_w foot">
                <div class="col-sm-4 copyright">
                    <footer>
                        © 2019 Kurzegeschichte.de
                    </footer>
                </div>
                <div class="col-sm-8 foot_menu">
                    <footer>
                        <a href="/imprint">Impressum</a> -
                        <a href="/press">Presse</a> -
                        <a href="/privacy">Datenschutz</a> -
                        <a href="/terms">Nutzungsbedingungen</a>
                    </footer>
                </div>
            </div>
        </div>
    
    </body>
</html>