<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Kurzegeschichte.de</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.quilljs.com/1.2.2/quill.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script> 

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.2.2/quill.bubble.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte.de - Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-6">
                                <h1>kurzegeschichte</h1>
                                <h3>It only takes a few minutes to escape.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-6 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <div id="menu_expansion">
                                    <li><a href="/profile?user=user">Profil</a></li>
                                    <li><a href="/settings">Einstellungen</a></li>
                                    <li><a href="/login">Login / Registrierung</a></li>
                                </div>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

        <div class="container max_w">
            <div class="row content">
                <div class="col-sm-12">
                    <form id="preview_form" action="/save_draft" method="post">
                        <input id="title" type="text" name="title" class="input_field_title" placeholder="Überschrift">
                        <input id="content" type="content" name="content" class="hidden">
                        <hr>
                        <div class="editor_custom" id="editor" ></div>
                        <div class="col-sm-12 next_container">
                            <button type="button" class="submit_button" onclick="PostContentToSaveDraft();">Weiter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="foot container-fluid">
            <div class="container max_w">
                <div class="col-sm-8">
                    <footer>
                        © 2019 Kurzegeschichte.de. Alle Rechte vorbehalten.
                    </footer>
                </div>
                <div class="col-sm-4 foot_menu">
                    <footer>
                        <a href="/impressum">Impressum</a> - <a href="/faq">FAQ</a> - <a href="/agb">AGB</a>
                    </footer>
                </div>                
            </div>
        </div>
        
    </body>
</html>