<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte.de</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-3">
                                <h1>kurzegeschichte</h1>
                                <h3>Because stories matter.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-9 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <li><a href="/profile">Profil</a></li>
                                <li><a href="/settings">Einstellungen</a></li>
                                <li><a href="/login">Login / Registrierung</a></li>
                            </ul> 
            
                        </div>
                    </div>
                </div>
            </div>

            <div class="container max_w">
                <blockquote class="blockquote">
                    <p>
                        A short story is a love affair,<br> a novel is a marriage.<br> A short story is a photograph;<br> a novel is a film.
                    </p>
                    <div class="quote_author">
                        - Lorrie Moore
                    </div>
                </blockquote>
                <hr>
                <div class="col-sm-12 sort">
                    <ul>
                        <li>Sortiere nach</li>
                        <li><a href="default.asp">Empfehlungen</a></li>
                        <li><a href="news.asp">Neuste</a></li>
                        <li><a href="contact.asp">Beliebt</a></li>
                    </ul> 
                </div>                
                <div class="col-sm-12 sort">
                    <ul>
                        <li>Lesezeit</li>
                        <li><a href="default.asp"> 5 Minuten</a></li>
                        <li><a href="news.asp">5-15 Minuten></a></li>
                        <li><a href="contact.asp">15-45 Minuten</a></li>
                        <li><a href="default.asp">> 45 Minuten</a></li>
                    </ul> 
                </div>

                <div class="col-sm-12 sort tag meta">
                    <ul>
                        <li><a href="default.asp">#Liebe</a></li>
                        <li><a href="news.asp">#Drama</a></li>
                        <li><a href="contact.asp">#Horror</a></li>
                        <li><a href="default.asp">#Krimi</a></li>
                        <li><a href="news.asp">#Scifi</a></li>
                        <li><a href="contact.asp">#Fantasy</a></li>
                        <li><a href="default.asp">#Satire</a></li>
                        <li><a href="news.asp">#Gegenwart</a></li>
                        <li><a href="contact.asp">#Leben</a></li>
                        <li><a href="contact.asp">#Sonstiges</a></li>
                    </ul> 
                </div>
            </div> 


        <div class="container max_w">
            <div id="preview_container" class="row">
            </div>
            <div class="col-sm-12 call_to_action">
                <div class="call_to_action_text">
                    Und wohin wird uns deine Geschichte führen?
                </div>
                <a href="/editor"><button type="button" class="submit_button">Schreibe jetzt</button></a>
            </div>
            <div id="preview_container_2" class="row">
            </div>
            <div id="page_counter" class="page_index_container">
                <a id="previous_page_link" href="">
                    <button id="previous_page_button" class="change_page_button">
                        <
                    </button>
                </a>
                <p id="page_index" class="page_index">1/10</p>
                <a id="next_page_link" href="">
                    <button id="next_page_button" class="change_page_button">
                        >
                    </button>
                </a>
            </div>
        </div>

        <div class="foot container-fluid">
            <div class="container max_w">
                <div class="col-sm-8">
                    <footer>
                        © 2019 Kurzegeschichte.de. Alle Rechte vorbehalten.
                    </footer>
                </div>
                <div class="col-sm-4 foot_menu">
                    <footer>
                        <a href="/impressum">Impressum</a> - <a href="/faq">FAQ</a> - <a href="/agb">AGB</a>
                    </footer>
                </div>
            </div>
        </div>
        
    </body>
</html>