<!DOCTYPE html>
<html lang="de">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104207151-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104207151-2');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Kurzgeschichte, Shortstory, lesen, schreiben, Buch, Geschichte">

        <meta name="title" content="Kurzegeschichte" />
        <meta property="og:title" content="Kurzegeschichte" />
        <meta property="twitter:title" content="Kurzegeschichte" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="Health experts say the virus has likely been in some U.S. communities for weeks, and that some people have surely had it without realizing." />
        <meta property="og:description" content="Health experts say the virus has likely been in some U.S. communities for weeks, and that some people have surely had it without realizing" />
        <meta property="twitter:description" content="Health experts say the virus has likely been in some U.S. communities for weeks, and that some people have surely had it without realizing" />

        <meta property="og:site_name" content="Kurzegeschichte - It only takes a few words to escape." />
        <meta property="og:image" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}">
        <meta name="og:image:width" property="og:image:width" content="1200" />
        <meta name="og:image:height" property="og:image:height" content="630" />
        <meta name="twitter:image:src" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}" />
        <meta name="twitter:card" content="summary_large_image" />

        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="2020-03-24T20:13:45.744Z" />

        <meta name="locale" property="og:locale" content="de_DE" />
        <meta name="locale:alternative" property="og:locale:alternate" content="en_GB" />

        <meta name="twitter:site" content="@Kurzegeschichte" />
        <meta property="og:url" content="https://www.kurzegeschichte.de" />
        <meta property="al:web:url" content="https://www.kurzegeschichte.de" />
        <meta property="article:author" content="https://www.kurzegeschichte.de" />
        <meta name="author" content="Markham Heid" />
        <meta name="twitter:label1" value="Reading time" />
        <meta name="twitter:data1" value="4 min read" />
            
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div id="cssload-container" class="cssload-container">
            <div class="ml6">
              <span class="text-wrapper">
                <span class="letters">Lädt...</span>
              </span>
            </div>
        </div>

        <div id="header" class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-6">
                                <h1>kurzegeschichte</h1>
                                <h3>It only takes a few words to escape.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-6 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <div id="menu_expansion">
                                    <li><a href="/info">Informationen</a></li>
                                    <li class="hidden"><a href="/editor">Schreiben</a></li>
                                    <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                                    <li class="hidden"><a href="/settings">Einstellungen</a></li>
                                    <li><a href="/login">Anmeldung</a></li>
                                    <li class="hidden"><a href="/logout">Logout</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container max_w">
                <blockquote id="front_quote" class="blockquote">
                    <div class="hide_quote_button"><a href="javascript:close_quote();">X</a></div>
                    <p>
                        A short story is a love affair,<br> a novel is a marriage.<br> A short story is a photograph;<br> a novel is a film.
                    </p>
                    <div class="quote_author">
                        - Lorrie Moore
                    </div>
                </blockquote>
                <hr id="quote_hr">
                <div class="col-sm-12 sort">
                    <ul id="sorting_selection">
                        <li><b>Sortiere nach</b></li>
                        <li id="recommendations" class="selected"><a href="javascript: apply_filter_sorting('#recommendations');">Empfehlungen</a></li>
                        <li id="newest"><a href="javascript: apply_filter_sorting('#newest');">Neuste</a></li>
                        <li id="popular"><a href="javascript: apply_filter_sorting('#popular');">Beliebt</a></li>
                    </ul> 
                </div>                
                <div class="col-sm-12 sort">
                    <ul id="length_selection">
                        <li><b>Lesezeit</b></li>
                        <li id="veryshort"><a href="javascript: apply_filter('#veryshort');">< 5 Minuten</a></li>
                        <li id="short"><a href="javascript: apply_filter('#short');">5-15 Minuten</a></li>
                        <li id="medium"><a href="javascript: apply_filter('#medium');">15-45 Minuten</a></li>
                        <li id="long"><a href="javascript: apply_filter('#long');">> 45 Minuten</a></li>
                    </ul> 
                </div>

                <div class="col-sm-12 sort">
                    <ul id="category_selection">
                        <li><b>Kategorien</b></li>
                        <li id="Love"><a href="javascript: apply_filter('#Love');">#Liebe</a></li>
                        <li id="Drama"><a href="javascript: apply_filter('#Drama');">#Drama</a></li>
                        <li id="Horror"><a href="javascript: apply_filter('#Horror');">#Horror</a></li>
                        <li id="Thriller"><a href="javascript: apply_filter('#Krimi');">#Krimi</a></li>
                        <li id="Scifi"><a href="javascript: apply_filter('#Scifi');">#Scifi</a></li>
                        <li id="Fantasy"><a href="javascript: apply_filter('#Fantasy');">#Fantasy</a></li>
                        <li id="Satire"><a href="javascript: apply_filter('#Satire');">#Satire</a></li>
                        <li id="Present"><a href="javascript: apply_filter('#Present');">#Gegenwart</a></li>
                        <li id="Life"><a href="javascript: apply_filter('#Life');">#Leben</a></li>
                        <li id="Other"><a href="javascript: apply_filter('#Other');">#Sonstiges</a></li>
                    </ul> 
                </div>
            </div>

        <div class="container max_w">
            <div id="preview_container" class="row">
            </div>
            <div class="call_to_action">
                <div class="call_to_action_text">
                    Und wohin wird uns deine Geschichte führen?
                </div>
                <a href="/editor"><button type="button" class="submit_button">Schreibe jetzt</button></a>
            </div>
            <div id="preview_container_2" class="row">
            </div>
            <div id="page_counter" class="page_index_container">
                <a id="previous_page_link" href="">
                    <button id="previous_page_button" class="change_page_button">
                        <
                    </button>
                </a>
                <p id="page_index" class="page_index">1/10</p>
                <a id="next_page_link" href="">
                    <button id="next_page_button" class="change_page_button">
                        >
                    </button>
                </a>
            </div>
        </div>

        <div class="foot container-fluid">
            <div class="container max_w">
                <div class="col-sm-4">
                    <footer>
                        © 2019 Kurzegeschichte.de
                    </footer>
                </div>
                <div class="col-sm-8 foot_menu">
                    <footer>
                        <a href="/imprint">Impressum</a> -
                        <a href="/press">Presse</a> -
                        <a href="/privacy">Datenschutz</a> -
                        <a href="/terms">Nutzungsbedingungen</a>
                    </footer>
                </div>
            </div>
        </div>
        
    </body>

    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>

</html>