<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
        <script src="{{ url_for('static', filename='js/global.js') }}"></script> 

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&amp;display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte.de - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-6">
                                <h1>kurzegeschichte</h1>
                                <h3>It only takes a few minutes to escape.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-6 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <div id="menu_expansion">
                                    <li><a href="/info">Informationen</a></li>
                                    <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                                    <li class="hidden"><a href="/settings">Einstellungen</a></li>
                                    <li><a href="/login">Anmeldung</a></li>
                                    <li class="hidden"><a href="/logout">Logout</a></li>
                                </div>
                            </ul> 
            
                        </div>
                    </div>
                </div>
            </div>

        <div class="container max_w">
            <div class="row">
                    <div class="col-sm-12">
                    <div id="story_title" class="title_page">
                        Herzlich Willkommen!
                    </div>
                    <hr class="hr_black">

                    <div class="col-sm-6 login_form">
                        <div class="title">
                                Login
                        </div>
                        <form action="/login_user" method="POST">
                            <div class="form_wrapper">
                                <input class="login_form_inputs" type="email" name="email" placeholder="Email">
                                <input class="login_form_inputs" type="password" name="password" placeholder="Passwort"><br>
                            </div>
                            <button type="submit" class="submit_button continue_button">Login</button>
                        </form>

                    </div>
                    <div class="col-sm-6 login_form">
                        <div class="title">
                                Registrierung
                        </div>
                        <form action="/register_user" method="POST">
                            <div class="form_wrapper">
                                <input class="login_form_inputs" type="name" name="name" placeholder="Benutzername"><br>
                                <input class="login_form_inputs" type="email" name="email" placeholder="Email">
                                <input class="login_form_inputs" type="password" name="password" placeholder="Passwort">

                                <input type="checkbox" id="cbx" style="display: none;">
                                <label for="cbx" class="check">
                                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                                        <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                        <polyline points="1 9 7 14 15 4"></polyline>
                                    </svg>
                                </label>
                                <div class="agb_label">
                                    Hiermit bestätige ich die Allgemeinen Geschäftsbedingungen gelesen und akzeptiert zu haben.
                                </div>
                            </div>
                            <button type="submit" class="submit_button continue_button register_button">Registrieren</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot container-fluid">
            <div class="container max_w">
                <div class="col-sm-4">
                    <footer>
                        © 2019 Kurzegeschichte.de
                    </footer>
                </div>
                <div class="col-sm-8 foot_menu">
                    <footer>
                        <a href="/imprint">Impressum</a> -
                        <a href="/press">Presse</a> -
                        <a href="/privacy">Datenschutz</a> -
                        <a href="/agb">Nutzungsbedingungen</a>
                    </footer>
                </div>
            </div>
        </div>
        
    </body>
</html> 