<!DOCTYPE html>
<html lang="de">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104207151-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104207151-2');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&amp;display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte.de - Profil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-6">
                                <h1>kurzegeschichte</h1>
                                <h3>It only takes a few minutes to escape.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-6 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <div id="menu_expansion">
                                    <li><a href="/info">Informationen</a></li>
                                    <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                                    <li class="hidden"><a href="/settings">Einstellungen</a></li>
                                    <li><a href="/login">Anmeldung</a></li>
                                    <li class="hidden"><a href="/logout">Logout</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container max_w">
                <div class="row>">
                    <div class="col-sm-12">
                        <div class="title_page">
                            Einstellungen
                        </div>
                        <hr class="hr_black">
                    </div>
                    <div class="col-sm-3">
                        <form action="/delete_account">
                            <button type="submit" class="submit_button">Account löschen</button>
                        </form>
                    </div>
                    <div class="col-sm-9">Mit einem Klick auf diesen Button werden all deine Daten von unseren Servern gelöscht.
                        Inklusive aller Geschichten, die du auf kurzegeschichte veröffentlicht hast.
                    </div>
                </div>
            </div>

            <div class="foot container-fluid">
                <div class="container max_w">
                    <div class="col-sm-4">
                        <footer>
                            © 2019 Kurzegeschichte.de
                        </footer>
                    </div>
                    <div class="col-sm-8 foot_menu">
                        <footer>
                            <a href="/imprint">Impressum</a> -
                            <a href="/press">Presse</a> -
                            <a href="/privacy">Datenschutz</a> -
                            <a href="/terms">Nutzungsbedingungen</a>
                        </footer>
                    </div>
                </div>
        </div>
    </body>
</html>