<!DOCTYPE html>
<html lang="de">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104207151-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104207151-2');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/story.js') }}"></script>
        <script src="{{ url_for('static', filename='js/story_preview.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&amp;display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte.de - Preview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div class="container-fluid full_header">
            <div class="container header max_w">
                    <div class="row">
                        <a href="/">
                            <div class="col-sm-6">
                                <h1>kurzegeschichte</h1>
                                <h3>It only takes a few minutes to escape.</h3>
                            </div>
                        </a>
                        <div id="menu" class="col-sm-6 menu">
                            <ul>
                                <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                                <div id="menu_expansion">
                                    <li><a href="/info">Informationen</a></li>
                                    <li class="hidden"><a href="/editor">Schreiben</a></li>
                                    <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                                    <li class="hidden"><a href="/settings">Einstellungen</a></li>
                                    <li><a href="/login">Anmeldung</a></li>
                                    <li class="hidden"><a href="/logout">Logout</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container max_w">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title_page">
                        Editor - Vorschau
                    </div>

                    <hr class="hr_black">

                    <div class="col-sm-12 preview_box">
                      <div class="ribbon ribbon-top-left">
                          <span>
                            Vorschau
                          </span>
                      </div>

                        <div class="col-sm-6 preview">
                            <div class="title">
                                Story Title
                            </div>
                            <div id="author" class="meta_author">
                                Geschrieben von Patrick Tobler
                            </div>
                            <p id="preview_text">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>

                            <div class="col-sm-8 meta">
                                <div id="categories_preview">
                                    <div class="tag">
                                        #Romantik
                                    </div>
                                    <div class="tag">
                                        #Krimi
                                    </div>
                                </div>
                                <div id="reading_time">
                                    Lesezeit ca. 12 Minuten
                                </div>
                            </div>
                            <div class="col-sm-4 readmore">Lesen</div>
                        </div>

                        <form id="preview_form" action="/publish_story" method="post">
                            <div class="col-sm-6 preview">
                                <div class="title">
                                    Bearbeite die Vorschau hier:
                                </div>
                                <textarea id="input_field_preview" name="preview_text" class="input_field_preview" placeholder="Vorschau Text" maxlength="250" rows="4" required></textarea>
                                <p id="text_area_feedback" class="text_area_feedback">0/250 Zeichen</p>

                                <select id="category_selection" name="selected_categories" class="js-select2 category_selection" multiple required>
                                    <option value="Love">Liebe</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Horror">Horror</option>
                                    <option value="Thriller">Krimi</option>
                                    <option value="SciFi">SciFi</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Satire">Satire</option>
                                    <option value="Present">Gegenwart</option>
                                    <option value="Life">Leben</option>
                                    <option value="Other">Sonstiges</option>
                                </select>

                            <input id="title" type="text" name="title" class="hidden">
                            <input id="user_id" type="text" name="user_id" class="hidden">
                            <input id="timestamp" type="text" name="timestamp" class="hidden">
                            <input id="reading_time_form" type="text" name="reading_time" class="hidden">
                            <input id="story_id" type="text" name="story_id" class="hidden">

                            </div>

                            <div class="col-sm-12 next_container next_preview_padding">
                                <button type="button" class="submit_button" onclick="publish_story();">Veröffentlichen</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div id="story_title" class="title">
                        Story Title
                    </div>
                    <div class="meta_author">
                        Geschrieben von Patrick Tobler
                    </div>

                    <div id="text-block-1" class="text_block three_columns">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            <br>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            <br>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            <br>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="foot container-fluid">
            <div class="container max_w">
                <div class="col-sm-4">
                    <footer>
                        © 2019 Kurzegeschichte.de
                    </footer>
                </div>
                <div class="col-sm-8 foot_menu">
                    <footer>
                        <a href="/imprint">Impressum</a> -
                        <a href="/press">Presse</a> -
                        <a href="/privacy">Datenschutz</a> -
                        <a href="/terms">Nutzungsbedingungen</a>
                    </footer>
                </div>
            </div>
        </div>
        
    </body>

</html> 