<!DOCTYPE html>
<html lang="de">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104207151-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104207151-2');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <script src="{{ url_for('static', filename='js/global.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/story.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

        <title>Kurzegeschichte - It only takes a few words to escape.</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Kurzgeschichte, Shortstory, lesen, schreiben, Buch, Geschichte">

        <meta name="title" content="Kurzegeschichte" />
        <meta property="og:title" content="Kurzegeschichte" />
        <meta property="twitter:title" content="Kurzegeschichte" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="Kurzgeschichten gratis lesen. Und schreiben." />
        <meta property="og:description" content="Kurzgeschichten gratis lesen. Und schreiben." />
        <meta property="twitter:description" content="Kurzgeschichten gratis lesen. Und schreiben." />

        <meta property="og:site_name" content="Kurzegeschichte - It only takes a few words to escape." />
        <meta property="og:image" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}">
        <meta name="og:image:width" property="og:image:width" content="1200" />
        <meta name="og:image:height" property="og:image:height" content="630" />
        <meta name="twitter:image:src" content="https://www.kurzegeschichte.de{{ url_for('static', filename='img/social_cover.png') }}" />
        <meta name="twitter:card" content="summary_large_image" />

        <meta name="locale" property="og:locale" content="de_DE" />
        <meta name="locale:alternative" property="og:locale:alternate" content="en_GB" />

        <meta name="twitter:site" content="@Kurzegeschichte" />
        <meta property="og:url" content="https://www.kurzegeschichte.de" />
        <meta property="al:web:url" content="https://www.kurzegeschichte.de" />

        <meta property="og:type" content="books.book" />
        <meta property="books:author" content="Patrick Tobler" />
        <meta name="author" content="Patrick Tobler" />
        <meta name="twitter:label1" value="Lesezeit" />
        <meta name="twitter:data1" value="ca. 4 Minuten" />

        <script data-search-pseudo-elements defer src="https://pro.fontawesome.com/releases/v5.10.1/js/all.js"></script>
    </head>
    
    <body>
        <div id="notification" class="notification">
            Alarm! Please try again.
        </div>

        <div id="cssload-container" class="cssload-container">
            <div class="ml6">
              <span class="text-wrapper">
                <span class="letters">Lädt...</span>
              </span>
            </div>
        </div>

        <div id="header" class="full_header">
            <div class="row header max_w center_div container">
                <a class="col-sm-6" href="/">
                    <div id="logo" class=logo>
                        <h1>kurzegeschichte</h1>
                        <h3>It only takes a few words to escape.</h3>
                    </div>
                    <div id="up_logo" class="inv logo">
                        <img class="up_logo_img" src="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" alt="logo" height="20" width="20">
                        <p class="up_logo_text">urzegeschichte</p>    
                    </div>
                </a>
                <div id="menu" class="col-sm-6 menu">
                    <ul>
                        <li id="menu_button" class="menu_button"><a href="javascript: toggleMenu();">Menü</a></li>
                        <div id="menu_expansion" class="menu_expansion">
                            <li><a href="/info">Informationen</a></li>
                            <li class="hidden"><a href="/editor">Schreiben</a></li>
                            <li class="hidden"><a href="/profile?user=user">Profil</a></li>
                            <li class="hidden"><a href="/settings">Einstellungen</a></li>
                            <li><a href="/login">Anmeldung</a></li>
                            <li class="hidden"><a href="/logout">Logout</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container max_w no_padding_bottom">
                <div id="story_title" class="title_page_story">
                        Story title
                    </div>
            <div class="row">
                <div class="col-sm-8 story_full border_on_side">
                    <div id="author" class="meta_author">
                        Geschrieben von Patrick Tobler
                    </div>
                    <hr>

                    <div id="text-block-1" class="">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        <br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        <br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        <br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </div>
                    <hr>
                    <div id="meta_box" class="meta_box">
                        <a href="javascript:toggleMeta();">Details</a>
                    </div>
                    <div id="meta_box_hidden" class="meta_box small_padding">
                        <div id="timestamp">Veröffentlicht am 12.04.1998</div>
                        <div id="tags">Tags: #Liebe #Drama #Horror</div>
                        <div id="length">Länge: 789 Wörter</div>
                        <div id="reading_time">Lesezeit: 4 Minuten bei einer durchschnittlichen Lesegeschwindigkeit von 12 Wörtern pro Minute</div>
                    </div>
                    <div id="comments_box" class="comment_box">
                        <div id="comments_title" class="comments_title">
                            Kommentare
                        </div>
                        <div id="write_comment" class="write_comment hidden">
                            <form id="comment_form" action="/publish_comment" method="post">
                                <textarea id="comment_form" name="content" rows="2" form="comment_form" placeholder="Teile Gedanken zu dieser Geschichte..."></textarea>
                                <input id="story_id_form" name="story_id" type="text" class="hidden">
                                <button type="button" class="submit_button comment_submit" onclick="post_comment();">Veröffentlichen</button>
                            </form>
                        </div>
                        <div id="call_to_action_comment" class="call_to_action_small" style="margin-top:20px; margin-bottom: 0;">
                            <div class="call_to_action_text">
                                Bitte melde dich an um Kommentare zu schreiben.
                            </div>
                            <div class=" center_div">
                                <a href="/login"><button type="button" class="submit_button">Anmeldung</button></a>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <hr class="hr_footer">
            <div class="container max_w foot">
                <div class="col-sm-4 copyright">
                    <footer>
                        © 2019 Kurzegeschichte.de
                    </footer>
                </div>
                <div class="col-sm-8 foot_menu">
                    <footer>
                        <a href="/imprint">Impressum</a> -
                        <a href="/press">Presse</a> -
                        <a href="/privacy">Datenschutz</a> -
                        <a href="/terms">Nutzungsbedingungen</a>
                    </footer>
                </div>
            </div>
        </div>
    
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>

</html> 